@import '../../partials/variables';
@import '../../partials/mixins';



.Roulette{
    padding: 1rem;
    height: 100vh;
    background-color: $tableColor;
    &__title{
        font-size: 3rem;
        margin-top: 0;
    }
    &__gameScreen{
        display: flex;
        justify-content: space-evenly;
    }
    &__leftCol{
        display: flex;
        flex-direction: column;
    }
    &__number-btn{
        background-color: wheat;
        border: 2px solid black;
        font-size: 1rem;
        padding: .5rem 2rem;
        border-radius: 8px;
        &:hover{
            cursor: pointer;
        }
    }
}