[type=radio] + img {
  margin-left: 1rem;
  &:hover{
      cursor: pointer;
  }
  }

  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio]:checked + img {
    border: 2px dotted black;
    border-radius: 20px;
  }