@import '../../partials/variables';
@import '../../partials/mixins';

.playerDashBoard{
    @include basicShape;
    padding: 1rem;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-evenly;
    &__title{
        margin: 0;
    }
}