@import '../../partials/variables';
@import '../../partials/mixins';

.table{
    padding: 2rem;

    &__number{
        width: 75px;
        height: 75px;
        font-weight: 600;
        border-radius: 34px; 
        @include rouletteTableTabs;
            &--red{
                background-color: red;
            }
            &--black{
                background-color: black;
            }
            &--zero{
                background-color: $tableColor;
                border: 2px solid white;
                border-radius: 50px;
                margin: .5rem;
            }
    }
    &__twoToOne{
        @include rouletteTableTabs;
        font-size: 1.2rem;
        transform: rotate(270deg);
    }
    &__twelveMultiples{
        @include rouletteTableTabs;
    }
    &__bottomBets{
        @include rouletteTableTabs;
        width: 100%;
        &--red{
            background-color: red;
        }
        &--black{
            background-color: black;
        }
    }
    &__empty{
        border: none;
    }
}

td {
    border: 2px solid white;
    margin: 4rem;
    color: white;
  }