@import '../../partials/mixins';
.war-bet{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    &__total-bet{
        margin: 1rem 0;
        background-color: white;
        border: 0.5rem solid black;
        border-radius: 30px;
        width: 150px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__bet-wrapper{
        display: flex;
        align-items: center;
        &-buttons{
            display: flex;
        align-items: center;
        }
    }
    &__button{
        padding: 1rem 2rem;
        margin-left: 1rem;
        font-size: 1rem;
        background-color: wheat;
        border: 0.5rem solid black;
        border-radius: 30px;
        @include onHoverPlayBtn;
    }
}

img{
    width: 100px;
}

