@import '../../partials/variables';
@import '../../partials/mixins';

.SlotsRules{
    height: 512px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    padding: 0 .5rem;
}