*,
*::before,
*::after {
    box-sizing: border-box;
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin rouletteTableTabs{
    background-color: $tableColor;
    border: none;
    color: white;
    font-size: 2rem;
}

@mixin basicShape{
    background-color: white;
    border: .5rem solid black;
    border-radius: 30px;
}

@mixin wideDisplayFlex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

@mixin onHoverPlayBtn{
    transition: .3s;
    &:hover{
        cursor: pointer;
        background-color: rgb(221, 186, 120);
    }
}